.navbar {
  background-color: var(--secondary-color);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--light-text);
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLink {
  color: var(--light-text);
  font-weight: 500;
  transition: color 0.3s;
  padding: 5px 10px;
  border-radius: 4px;
}

.navLink:hover {
  color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.1);
}
